body {
  background-color: aqua;
}

.allCards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 30px;
}

/* .card {
  max-height: 500px;
} */
